*{
    font-family: sans-serif;
    font-weight: 400;
}

body{
   background-color: rgb(49, 106, 182);
}

h1 {
    text-align: center;
    font-family: Georgia, sans-serif;
  font-size: 3em;
  letter-spacing: -2px;
}

.directions{
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 8%;
}

.company-title{
  background-image: url("images\three-donut-row.jpg");
  background-size: 75px;
}

.collapsible {
    
    background-color:rgb(48, 158, 221);
    color:black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
  }

  .active, .collapsible:hover {
    background-color:rgb(200, 31, 172)
  }

  .content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .container2{
    display:grid;
    grid-template-columns: 30% 30% 40%;
    padding: 10px; 
  }

  .container3{
    display:grid;
    grid-template-columns: 30% 30% 40%;
    padding: 10px; 
  }

  .container4{
    display:grid;
    grid-template-columns: 30% 30% 40%;
    padding: 10px;
  }

  .bottom-div{
    display:grid;
    grid-template-columns: 30% 30% 40%;
    padding: 10px;
  }

  footer{
    text-align: center;
    margin-top: 20%;
  }

  button{
    background-color:rgb(0, 195, 255);
    border-radius: 10px;
  }

  





